.tns-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    column-gap: 10px;
}

.tns-nav button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
    border: unset;
}

button.tns-nav-active {
    border-radius: 50%;
    background-color: white;
    border: solid 1px black !important;
}

.wsu-slider .tns-slide-active img.active {
    border: solid 2px red;
}

.tns-liveregion {
    display: none;
}

.cs_custom_select {
    position: relative;
    font-family: Arial;
}

.cs_custom_select select {
    display: none;
    /*hide original SELECT element:*/
}

.select-selected {
    background-color: DodgerBlue;
}


/*style the arrow inside the select element:*/

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}


/*point the arrow upwards when the select box is open (active):*/

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}


/*style the items (options), including the selected item:*/

.select-items div,
.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}


/*style items (options):*/

.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}


/*hide the items when the select box is closed:*/

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}